body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'press start 2p', sans-serif;
    color: #fca311;
    font-size: 2.5em;
}

.character-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

}

.character-card {
    background-color: aliceblue;
    width: 250px;
    border: 3px solid #14213d;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.character-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #fca311;
}

.character-card h2 {
    font-family: 'press start 2p', sans-serif;
    color: #171718;
    margin: 15px 0 10px 0;
    font-size: 1.2em;
}

.character-card p {
    font-family: 'Arial', sans-serif;
    color: #130b27;
    font-size: 0.9em;
    line-height: 1.4;
}

.character-card:hover {
    transform: scale(1.05);
    border-color: #fca311;
    box-shadow: 0 0 20px #fca311; 
    cursor: pointer;
}

#warrior:hover {
    box-shadow: #14213d;
    border-color: #ff23c8;
} 

#mage:hover {
    box-shadow: #14213d;
    border-color: #23fff3;
}

#archer:hover {
    box-shadow: #14213d;
    border-color: #a6ff23;
}

.character-card:hover {
    /* animação do cartão */
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

