/* Reset Básico Aesthetic */
body {
 background-color: #ffeef8; /* Rosa Choquei */
 font-family: 'Arial', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}
/* O Celular da Virgínia */
.iphone-15-pro-max {
 background-color: #fff;
 width: 320px;
 height: 600px;
 border-radius: 40px;
 border: 8px solid #0683f8; /* Rosa WePink */
 box-shadow: 0 20px 40px rgba(0,0,0,0.2);
 overflow: hidden;
 display: flex;
 flex-direction: column;
}
header {
 background-color: #0f014d;
 color: white;
 padding: 15px;
 text-align: center;
 font-weight: bold;
}
/* A CENA DO CRIME: É AQUI QUE VOCÊS TRABALHAM */
.tela-jogo {

 flex-wrap: wrap;
 display: flex;
 align-items: center;
 justify-content: space-around; 
 background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGJhamE1cmhkZHV4cWZwcjk4ZW5lam1oaXVjam9nejFhMWh6bGJiMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/E1NLFoPpALakgrLX0k/giphy.gif);
 /* background-color: #222;  Fundo Dark Mode */
 flex: 1; /* Ocupa o meio da tela */
 padding: 10px;
 margin: 10px;
 border: 2px solid rgb(55, 182, 255); /* Ouro */
 border-radius: 15px;
 overflow-y: auto; /* Rolagem pra não vazar print feio */
 border: 1px solid rgba(255,255,255,0.2);
 box-shadow: 0 4px 8px rgba(241, 4, 4, 0.2);
}
/* Os Emojis (Itens) */
.item.item-3 {
    
    order: -1;
}

.item {
 background-color: #333;
 box-shadow: 0 4px 8px rgba(18, 14, 255, 0.3);
 font-size: 2.5rem;
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 10px;
 width: 60px;
 height: 60px;
 margin: 4px;


 /* Centraliza o emoji no quadrado */
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid rgba(255,255,255,0.2);
}

.item:hover {
 background-color: rgba(255, 255, 255, 0.3);
 transform: scale(1.1);
 cursor: pointer;
}

/* Botões */
.controles {
 padding: 15px;
 display: flex;
 gap: 10px;
}
.botao {
 display: flex;
 padding: 15px;
 border: none;
 border-radius: 10px;
 font-weight: bold;
 cursor: pointer;
 box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.botao:hover {
 transform: scale(1.05);
}


.deposito { background-color: #ddd; color: #333; }
.apostar { 
    justify-content: center;
    flex-grow: 5;
    background-color: #00ff7f; color: #004422;
}
footer { text-align: center; color: #aaa; padding-bottom: 10px; }
